<div data-color="{{color}}" class="label-checkbox item-content player-data" data-name="{{id}}">
  <div style="width: 100%;">
    <div class="player-space">
      <div class="name-space" data-id="{{id}}">{{capitalize name}}</div>
      <div class="score-space">{{score}}</div>
        <div class="trains-space">
          {{#exists trainsLeft }}
            {{trainsLeft}} trains left
          {{else}}
            <span class="disabled">Train tracking disabled</span>
          {{/exists}}
        </div>
    </div>
  </div>
</div>
