<div data-color="{{color}}" class="label-checkbox item-content swipeout-content player-data" data-name="<%- {{name}} %>">
  <div style="width: 100%;">
    <div class="player-space">
      <div class="name-space">{{capitalize name}}</div>
      <div class="score-space">{{score}}</div>
        <div class="trains-space">
          {{#exists trainsLeft }}
            {{trainsLeft}} trains left
          {{else}}
            <span class="disabled">Train tracking disabled</span>
          {{/exists}}
        </div>
    </div>
  </div>
</div>
<div class="swipeout-actions">
  <div class="swipeout-actions-inner"><a href="#" class="swipeout-delete">Delete</a></div>
</div>
<div class="sortable-handler"></div>
